{% extends 'base.html' %}
{% block title %}分类{% endblock title %}


{% block content %}
    <div class="content-wrap">
        <div id="content" class="content">

            <div id="posts" class="posts-expand">
                <header class="post-header">
                    <h2 class="post-title" itemprop="name headline">Category</h2>
                </header>

                <div class="tag-cloud">
                    <div class="tag-cloud-title">
                        目前共计 {{ cate_nums }} 个分类
                    </div>
                    <div class="tag-cloud-tags">

                        {% for cate in all_cate %}
                            <a href="{% url 'blog:category_name' cate.name %}"

                                    {% if cate.blog_set.count <= 2 %}
                               style="font-size: 12.5px; color: #f3d9fa"
                                    {% elif cate.blog_set.count <= 5 %}
                               style="font-size: 15px; color: #eebefa"
                                    {% elif cate.blog_set.count <= 10 %}
                               style="font-size: 20px; color: #e599f7"
                                    {% elif cate.blog_set.count <= 20 %}
                               style="font-size: 25px; color: #da77f2"
                                    {% elif cate.blog_set.count <= 30 %}
                               style="font-size: 30px; color: #cc5de8"
                                    {% elif cate.blog_set.count <= 40 %}
                               style="font-size: 30px; color: #be4bdb"
                                    {% elif cate.blog_set.count <= 50 %}
                               style="font-size: 30px; color: #9c36b5"

                                    {% else %}
                               style="font-size: 35px; color: #862e9c"
                                    {% endif %}>

                                {{ cate.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <div class="comments" id="comments">

            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>

        </div>

    </div>
{% endblock content %}

